<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container mb-5">
    <div th:replace="~{navigation :: navigation(bucket)}" />
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td>Amount</td>
        <td>Sum</td>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/products}" th:object="${bucket.bucketDetails}" method="POST">
        <tr th:each="detail : ${bucket.bucketDetails}">
            <td th:text="${detail.getName()}"></td>
            <td th:text="${detail.getPrice()}"></td>
            <td th:text="${detail.getAmount()}"></td>
            <td th:text="${detail.getSum()}"></td>
        </tr>
        <tr th:text="${bucket.sum}"></tr>
    </form>
    </tbody>
</table>
</body>
</html>