<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container mb-5">
    <div th:replace="~{navigation :: navigation(orders)}" />
</div>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <td colspan="3" style="background: black; color: whitesmoke">Orders:</td>
        </tr>
    </thead>
    <tbody>
    <form th:action="@{/auth/orders}" th:object="${details}" th:each="order : ${orders}" method="POST">
            <tr>
                <td colspan="2" style="background: darkgray;" th:text="'Order #ID: ' + ${order.getId()}"></td>
                <td style="background: darkgray; color: darkorchid;" th:text="${order.getCondition()}"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Price</td>
                <td>Amount</td>
            </tr>
            <tr th:each="d : ${details}">
                <td th:if="${d.getOrder().getId() == order.getId()}" th:text="${d.getProduct().getName()}"></td>
                <td th:if="${d.getOrder().getId() == order.getId()}" th:text="${d.getPrice()}"></td>
                <td th:if="${d.getOrder().getId() == order.getId()}" th:text="${d.getAmount()}"></td>
            </tr>
            <tr>
                <td width="150px" style="background: darkturquoise" th:text="'Total price: ' + ${order.getTotalPrice()}"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
    </form>
    </tbody>
</table>
</div>
</body>
</html>