<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container mb-5">
    <div th:replace="~{navigation :: navigation(profile)}" />
</div>
<div th:action="@{/authenticated/profile}" th:object="${user}">
    <div th:switch="${user.status.getName()}">
        <div th:case="'active'">
            <p th:text="${user.username}"/>
            <br>
            <p th:text="${user.email}"/>
            <br>
            <p th:text="${user.phone}"/>
            <br>
        </div>
        <div th:case="'blocked'">
            <p>User was blocked!</p>
        </div>
    </div>
</div>
<br>
</body>
</html>